.inGameChatContainerShown {
  width: 24rem;
  transition: all 1s;
}
.inGameChatContainerHidden {
  width: 4rem;
  transition: all 1s;
}

.chatBoxShown {
  transition: all 0.7s;
}
.chatBoxHidden {
  margin-left: 50rem !important;
  transition: all 1s;
}

.grow {
  /* background-color: black; */
  background-color: #ff5563 !important;
  cursor: pointer;
}

.chatRoom-main-input > input {
  /* border: solid green; */
  width: 75%;
  margin-right: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  resize: none;
  padding: 0.7rem;
}

.chatRoom-main-input > input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 5px #ff5664;
}

.button-send:hover {
  cursor: pointer;
  border: solid 0.1px pink;
}
.button-send:active {
  background-color: #ff5563;
  width: 2.7rem;
  height: 2.3rem;
}
